body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}

header {
    background-color: #03A678;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border: 0px solid white;
    width: 100%;
    height: 100px;
    text-align: center;   
}

#notLoggedIn, #loggedIn {
    position: absolute;
    top: 5%;
    right: 3.5%;
}

#login {
    padding-top: 35px;
}

a {
    color: white;
    background-color: #03A678;
}

#menuToggle a {
    color: white;
    background-color: #027353;
    font-weight: bold;
}

#pfp {
    margin-left: 35px;
}

#bigBorder {
    /*width: 50%;*/
    /*height: 100px;*/
    background-color: white;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#ponuka {
    display: flex;
    justify-content:center;
}

#ponuka a {
    all: revert;
    background-color: #F2421B;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    padding: 20px 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width:5cm;
}

#ponuka button {
    background-color: #F2421B;
    border: none;
    color: white;
    /*margin-left: 1%;
    margin-right: 1%;
    color: white;
    padding: 20px 40px;
    font-size: 16px;
    
    cursor: pointer;
    margin-bottom: 10px;
    width:5cm;*/
}
/*#ponuka button:hover {
    background-color: #ad2f13;
}*/

#ponuka a:hover {
    background-color: #ad2f13;
}
#ponuka a:hover button {
    background-color: #ad2f13;
}


#poziadavky, #dobrovolnici {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#poziadavky li {
    top: 100px;
    width: 50%;
    height: 250px;
    background-color: #03A678;
    position: relative;
    text-align: left;
    padding: 2px;
    color: white;
    margin-bottom:1% ;
}

#poziadavky button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #F2421B;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#poziadavky button:hover {
    background-color: #ad2f13;
}

#poziadavky button a{
    background-color: #F2421B;
}

#dobrovolnici li {
    top: 100px;
    width: 50%;
    height: 10%;
    background-color: #03A678;
    position: relative;
    text-align: center;
    padding: 2px;
    color: white;
    margin-bottom:1%;
}

#dobrovolnici button {
    background-color: #F2421B;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
#dobrovolnici button:hover{
    background-color: #ad2f13;
}

#returnFromDobList {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#returnFromDobList a {
    padding: 20px;
    background-color: #F2421B;
    text-decoration: none;
}

.category-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.category-button:hover {
    background-color: #076b4f;
}

.specific-div {
    position: relative; 
    border: 1px solid #ccc;
    padding: 20px;
    width: 700px;
    margin: auto;
    text-align: center;
    /*left: 50%;*/
}

.div-for-creation {
    position: relative; 
    padding: 20px;
    text-align: center;
    /*left: 50%;*/
}

.creation {
    background-color: #F2421B;
    border: none;
    position: relative; 
    padding: 20px;
    text-align: center;
}

.creation a {
    background-color: #F2421B;
}
.creation:hover {
    background-color: #ad2f13;
}
.creation:hover a {
    background-color: #ad2f13;
}


#customize-account img {
    background-color:#03A678;
}

#customize-account a {
    background-color: white;
    color: black;
    font-weight: bold;
}

#box li button {
    background-color: #F2421B;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#box li button:hover {
    background-color: #ad2f13;
}

#ulId button {
    background-color: #F2421B;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#ulId button:hover {
    background-color: #ad2f13;
}

#returnFromDobList a:hover {
    background-color: #ad2f13;
}

#costumize-account a {
    text-decoration: none;
}
#costumize-account a:hover {
    text-decoration: underline;
    background-color: rgb(122, 122, 122);
    color:white
}